body{
  width:100vw;
  height: 100vh;
  overflow: hidden;
  margin:0;
}

button{
  padding:15px;
  width: 150px;
  margin: 10px;
  outline: none;
  border:none;
  border-radius: 15px;
  background: white;
  color: black;
  font-size: 14px;
}

button:first-of-type{
  background-color: aqua;
  color: black;
  font-size: 14px;
}

.buttonHolder{
  position: absolute;
  top:0;
  display: flex;
}